$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

//color

$black :#000;
$white: #ffff;
$blue:blue;
$pink:#f6e4d5;
$yellow:#ffd080;
$border:.2rem solid $black;